body {

  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
}



img {
	display: inline-block;
    width: 12em;
    margin: 24px;

}

.account_links{
	display: inline-block;
    width: 2em;
    margin: 4px;
    
}

header { color: #333333; line-height: 72px; }
		
			
header nav { 
  font-size: 18px; float: right; 
  margin-right: 5%; 
  margin-top: 72px;
}
			
header nav a { 
  color: #333; margin: 0 5px;
  text-decoration: none; 
}

h1 {
	color: #30AE24 ;
	display: block;
	margin-left: 200px;


}


.TFtable{
        width:75%; 
    	border: 2px solid #30AE24;
    	margin-left: auto;
    	margin-right: auto;
    	border-radius: 30px;
    	text-align: center;
    	border-spacing: 0;
    	overflow: hidden;
    	

    }
    .TFtable td{ 
        padding:7px; border:#30AE24 1px solid;
    }
    /* provide some minimal visual accomodation for IE8 and below */
    .TFtable tr{
        background: #FFFFFF;
    }
    /*  Define the background color for all the ODD background rows  */
    .TFtable tr:nth-child(odd){ 
        background: #FFFFFF;
    }
    /*  Define the background color for all the EVEN background rows  */
    .TFtable tr:nth-child(even){
        background: #30AE24;
    }

  	 button {
	  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	  text-transform: uppercase;
	  outline: 0;
	  background: #4CAF50;
	  width: 40%;
	  border: 0;
	  padding: 15px;
	  color: #FFFFFF;
	  font-size: 24px;
	  -webkit-transition: all 0.3 ease;
	  transition: all 0.3 ease;
	  cursor: pointer;
	  display: block;
	  margin-right: auto;
	  margin-left: auto;
	  margin-top: 24px;
	  border-radius: 50px;
	  
}

	button:hover, button:active, button:focus {
  background: #137500;
}

/*tooltip CSS below*/

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}