body {

  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#137500;
  
}

div, h1 {
  padding:0px;
  margin:0px;
}

header { color: #333333; line-height: 48px; }
		
#logo {
	display: inline-block;
    width: 12em;
    margin: 24px;
}
.account_links{
	display: inline-block;
    width: 2em;
    margin: 4px;
}

a {

	display: inline-block;
    width: 4em;
    margin: 24px;

}
			
header nav { 
  font-size: 18px; float: right; 
  margin-right: 5%; 
  margin-top: 72px;
}
			
header nav a { 
  color: #333; margin: 0 5px;
  text-decoration: none; 

 }

#container{
  text-align: center;
 }

.progress {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;


}


 .progress_img {

  display: inline-block;
    width: 6em;
    margin: 16px;
    visibility:visible; 
    text-decoration: 

 }

 span {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 64px;
  color:#137500;
  font-weight: bold;
  font-size: 4em;

 }

h1 {
  text-align: left;
  font-size: 36px;
  margin-left: 12%;
}

form{
  display: inline-block;
  margin-left:20%;

}

.search{
  display: inline-block;

}

input[type=text]{
   /* css 3 */
 border-radius:25px;
 /* mozilla */
 -moz-border-radius:25px;
 /* webkit */
 -webkit-border-radius:25px;

 border: 2px solid #30AE24;

 padding: 12px;

 width: 150%;

  background-image: url('img/magnifying_glass.png');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 5%;

}

input[type=text]:focus{
  outline:none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #30AE24;
    text-transform: uppercase;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #30AE24;
   opacity:  1;
   text-transform: uppercase;
   font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #30AE24;
   opacity:  1;
   text-transform: uppercase;
   font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #30AE24;
   text-transform: uppercase;
   font-style: italic;
}

.product_listings {
  overflow: hidden;
  text-align: left;

}

section {
  width: 40%;
  min-height: 200px;
  padding: 5%;
  float: left;
  word-wrap: normal;
}

.left {
  background-color: #FFFFFF;
}

.right {
  background-color: #FFFFFF;
}

.product_pic{
    display: inline-block;
    width: 4em;

    
}

p {
  display: inline-block;
  vertical-align: middle;
  width: 55%;
  padding-bottom: 32px;
}



input[type=number]{
  width:16%;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 8px;
}

input[type=submit] {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    outline: 0;
    background: #4CAF50;
    border: 0;
    padding: 5px;
    width:10%;
    color: #FFFFFF;
    font-size: 8px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    border-radius: 20px;
    margin-top: 20px;
    
}

input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus {
  background: #137500;
}

button {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 20%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 24px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px;
    float:right;
    margin-right: 4em;
    
}

button:hover, button:active, button:focus {
  background: #137500;
}

/*tooltip CSS below*/

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}