body {

  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#137500;
  
}

div, h1 {
  padding:0px;
  margin:0px;
}

#invoice{
  font-size: 6em;
  display:inline-block;
  color:#137500;
  font-weight: normal;
  margin-left: 64px;
  margin-top: 54px;
}

header { color: #333333;  }
		
#logo {
	display: inline-block;
    width: 12em;
    margin: 24px;
}
.account_links{
	display: inline-block;
    width: 2em;
    margin: 4px;
}

a {

	display: inline-block;
    width: 4em;
    margin: 24px;

}
			
header nav { 
  font-size: 18px; float: right; 
  margin-right: 5%; 
  
}
			
header nav a { 
  color: #333; margin: 0 5px;
  text-decoration: none; 

 }

#name {
  color: #30AE24;
  font-style: italic;
  font-size: 2em;
  margin-left: 64px;
  
 }



 .container {
  overflow: hidden;
}

section {
  width: 40%;
  min-height: 200px;
  text-align: left;
  float: left;
  padding-left: 24px;
  display: block;
  word-wrap: break-word;
}

h2 {
  font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;

}

p{
  display: inline-block;
  font-size: 16px;


}

.left {
  background-color: #FFFFFF;
  text-align: center;
}

.right {
  background-color: #FFFFFF;
  text-align: center;
}

img {
  width: 2em;
}

.cost{
  
  text-decoration: bold;
  float:right;
  margin: auto;
  margin-top: 16px;
  
}

#total{
  margin-top: 0
}


#contact{
   margin-left: 12em;
   text-decoration: underline;

}

form {
  display: block;
  margin-top: 4em;
  margin-left: 4em;
  text-align: center;
}

button {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 25%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 24px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    display: block;
    margin:auto;
    margin-top: 24px;
    border-radius: 50px;
    float:right;
    margin-right: 4em;
    
}

button:hover, button:active, button:focus {
  background: #137500;
}



